<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск объектов</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_neir.css' %}">
</head>
<body>
   <form id="image-form" enctype="multipart/form-data">
    <div class="container">
        <h1>Поиск объектов</h1>
        <div class="options">
            <div class="option">
                <label for="input-type">Выберите тип входных данных:</label>
                <select name="input-type" id="input-type">
                    <option value="image">Изображение</option>
                    <option value="video">Видео</option>
                </select>
            </div>
        </div>
        <div class="preview">
            <input type="file" id="image-input" accept="image/*">
            <button type="button" id="detect-btn">Поиск</button>
        </div>
        <div class="result" id="result">
            <img id="result-image" src="#" alt="">
        </div>
    </div>
</form>
    {% load static %}
    <script src="{% static 'js/neir.js' %}"></script>
</body>
</html>
